LinqExercise/LinqExercise.sln.DotSettings.user
LinqExercise/LinqExercise/bin/**/*.*
LinqExercise/LinqExercise/obj/**/*.*
LinqExercise/LinqExerciseTests/bin/**/*.*
LinqExercise/LinqExerciseTests/obj/**/*.*
LinqExercise/LinqExtensionTests/obj/**/*.*
